<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMUA - Mỹ phẩm online chính hãng, Cam kết chất lượng, Mua là có quà</title>
    <link rel="shortcut icon" href="~/assets/img/iconlogo.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous" />
    <link href="~/assets/fonts/material-icon/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link href="~/assets/css/AddCSS.css" rel="stylesheet" />
    <link href="~/assets/css/Cart.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/Home.css">
    @RenderSection("cssQTY", required: false)
    @RenderSection("cssMessage", required: false)
</head>

<body>
    <!--Header-->
    <header class="header">
        <!--Header - top-->
        <div class="header__top">
            <div class="container">
                <p class="header__top--hotline">
                    Hotline: <a href="tel: 0911 403 114">0911 403 114</a>
                </p>
                @{
                    var session = (Nhom8_IMUA.Common.UserLogin)Session[Nhom8_IMUA.Common.CommonConstants.USER_SESSION];
                }
                @if (session == null)
                {
                    <p class="header__top--regis">
                        <a href="@Url.Action("Register", "User")">Đăng ký</a>
                    </p>
                    <p class="header__top--login">
                        <a href="@Url.Action("Login", "User")">Đăng nhập</a>
                    </p>
                }
                else
                {
                    <ul class="user__menu">
                        <li class="user__item">
                            @{
                                string ImagePath = "~/assets/Images/AnhDaiDien/" + session.AnhDaiDien;
                            }
                            <img src="@Url.Content(ImagePath)" alt="" class="user__img">
                            <span class="user__name">@session.HoTen</span>
                            <div class="block"></div>
                            <ul class="user__control">
                                <li class="user__control--item"><a href="@Url.Action("ChangeInfor", "User", new { id = session.UserID })">Tài khoản của tôi</a></li>
                                <li class="user__control--item"><a href="@Url.Action("ChangePassword", "User")">Đổi mật khẩu</a></li>
                                <li class="user__control--item"><a href="@Url.Action("Index", "Invoice", new { id = session.UserID })">Đơn mua</a></li>
                                <li class="user__control--item"><a href="@Url.Action("Logout", "User")">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
        <!--End-->
        <!--Header - middle-->
        <div class="header__middle">
            <div class="container">
                <div class="header__middle--img">
                    <a href="@Url.Action("Index","Home")" class="header__middle--logo">
                        <img src="~/assets/img/logo.png" alt="logo">
                    </a>
                    <a href="@Url.Action("Index","Home")" class="header__middle--sologan">
                        <img src="~/assets/img/sologan.png" alt="sologan">
                    </a>
                </div>
                <div class="wrapper">
                    <div class="header__middle--search">
                        <div action="" class="header__search--input">
                            @using (Html.BeginForm("Index", "TimKiem"))
                            {
                                <input type="text" placeholder="Tìm kiếm sản phẩm..." id="SearchString" name="SearchString" />
                                <button type="submit" class="header__search--icon" onclick="return valid_search();">
                                    <i class="fas fa-search"></i>
                                </button>
                            }
                        </div>
                    </div>
                    <div class="header__middle--cart">
                        <a href="@Url.Action("Index","Cart")" class="header__middle--cart--link">
                            <span class="cart__icon">
                                <i class="fas fa-shopping-basket"></i>
                            </span>
                            @{ Html.RenderAction("CartCount", "Home"); }
                        </a>
                        <!-- <div class="header__middle--cart--noti">
                          <span>Chưa có sản phẩm trong giỏ hàng!</span>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
        <!--Header - bottom-->
        @{Html.RenderAction("DanhMuc", "Home");}
        <!--End-->
    </header>
    <!--End-->
    <!--Main-->
    <main class="content">
        @RenderBody()
    </main>
    <!--End-->
    <!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="footer__item">
                <h4>Hỗ trợ khách hàng</h4>
                <p>
                    <a href="">Hỗ trợ mua hàng</a>
                    <br>
                    <a href="">Chính sách đổi trả</a>
                    <br>
                    <a href="">Quy định vận chuyển</a>
                    <br>
                    <a href="">Phương thức thanh toán</a>
                    <br>
                    <a href="">Chính sách bảo mật</a>
                </p>
            </div>
            <div class="footer__item">
                <h4>Website thuộc quyền</h4>
                <p>
                    CÔNG TY TNHH HV NET
                    <br>
                    ĐKKD Số: 0313411135
                    <br>
                    Do Sở KH&ĐT Tp. HCM
                    <br>
                    Cấp ngày 24/08/2015
                    <br>
                    <a href="">
                        <img src="~/assets/img/DangKyBoCongThuong.png" alt="BCT">
                    </a>
                </p>
            </div>
            <div class="footer__item">
                <h4>Trung tâm phân phối</h4>
                <p>
                    255 Bình Lợi, P.13, Q. Bình Thạnh, Tp. HCM
                    <br>
                    Tel: 0911 403 114 Email: info@imua.com.vn
                    <br>
                    Website: <a href="https://imua.com.vn/" target="_blank">www.imua.com.vn</a>
                    <br>
                    <a href="">
                        <img src="~/assets/img/DMCA_logo-grn-btn150w.png" alt="DMCA">
                    </a>
                    <br>
                    <a href="">
                        <img src="~/assets/img/logohvnet.png" alt="">
                        Được Marketing & Phân phối bởi
                        <span style="color: #53b035">HV Net</span>
                    </a>
                </p>
            </div>
            <div class="footer__item">
                <a href="">
                    <img src="~/assets/img/address-shop1.jpg" alt="">
                </a>
            </div>
        </div>
    </footer>
    <!--End-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('.ajax-to-cart').off().click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '/Cart/AddToCart',
                    data: {
                        id: $(this).data("id"),
                        quantity: 1
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data != null) {
                            window.location.reload();
                            alert("Thêm vào giỏ hàng thành công!");
                            $(".cart__number").html("(" + data.SoLuong + ")");
                        }
                        else {
                            alert("Lỗi trong khi thêm vào giỏ hàng!");
                        }
                    },
                    error: function () {
                        alert("Lỗi trong khi thêm vào giỏ hàng!");
                    }
                });

            });
        });
        function valid_search() {
            var search = document.getElementById('SearchString');
            if (search.value == "") {
                alert("Vui lòng nhập từ khoá tìm kiếm!");
                search.focus();
                return false;
            }
            return true;
        }
    </script>
    @RenderSection("addMoreCart", required: false)
    @RenderSection("scriptUp", required: false)
    @RenderSection("scriptDel", required: false)
</body>
</html>