@model PagedList.IPagedList<IMua.Models.DanhMuc>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminPageStart")
            @Html.Partial("_AdminListToolbar", null, new ViewDataDictionary {
                { "ListTitle", "Danh sách danh mục" },
                { "ListController", "DanhMucs" },
                { "SearchPlaceholder", "Tìm kiếm danh mục" },
                { "ShowCreate", true }
            })
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaDM</td>
                                <td>@item.TenDM</td>
                                <td>
                                    @Html.Partial("_AdminTableActions", null, new ViewDataDictionary {
                                        { "DetailsUrl", Url.Action("Details", "DanhMucs", new { id = item.MaDM }) },
                                        { "EditUrl", Url.Action("Edit", "DanhMucs", new { id = item.MaDM }) },
                                        { "DeleteCssClass", "delBtnDM" },
                                        { "DeleteId", item.MaDM }
                                    })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="admin-pagination phan-trang">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
@Html.Partial("_AdminPageEnd")
@section ajaxDel{
    <script src="~/Areas/Admin/assets/js/delete.js"></script>
}