@model PagedList.IPagedList<BeautyBox.Models.SanPham>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner reveal">
    <div class="container">
        <div class="banner__img">
            <a href="">
                <img src="~/assets/img/d5935016-faec-4d7f-8a90-be4c81a6786d.webp" alt="">
            </a>
        </div>
        @Html.Partial("_ServiceBar")
    </div>
</div>
<div class="widget">
    <div class="container">
        @{ Html.RenderAction("Menu", "Category"); }
        <div class="widget__content">
            <div class="widget__category" id="loaisp">
                <div class="title">
                    <span><i class="fas fa-th"></i></span>
                    <h4>có <text style="color: red;">@ViewData["Count"]</text> sản phẩm phù hợp với từ khoá: <text style="color: red;">@ViewBag.CurrentFilter</text></h4>
                </div>
                <div class="wrapper">
                    <div class="wrapper__item product-grid stagger-children">
                        @foreach (var item in Model)
                        {
                            @Html.Partial("_ProductCard", BeautyBox.Models.ProductCardViewModel.From(item))
                        }
                    </div>
                    <div class="phan-trang">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.CurrentFilter }))</div>
                </div>
            </div>
        </div>
    </div>
</div>