@model PagedList.IPagedList<Nhom8_IMUA.Models.TinTuc>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-header">
                <h4 class="card-title">Danh sách tin tức</h4>
                <div class="header__middle--search">
                    <div action="" class="header__search--input">
                        @using (Html.BeginForm("Search", "TinTucs"))
                        {
                            <input type="text" placeholder="Tìm kiếm tin tức" id="SearchString" name="SearchString" />
                            <button type="submit" class="header__search--icon" onclick="return valid_search();">
                                <i class="fas fa-search"></i>
                            </button>
                        }
                    </div>
                </div>
                <a class="btn btn-primary" href="@Url.Action("Create", "TinTucs")">
                    <i class="ti-plus"></i>
                </a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Mã tin tức</th>
                            <th>Tiêu đề</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaTinTuc</td>
                                <td>@item.TieuDe</td>
                                <td>
                                    <div>
                                        <a class="btn btn-primary" href="@Url.Action("Details", "TinTucs", new { id = item.MaTinTuc })">
                                            <i class="ti-eye"></i>
                                        </a> &nbsp;
                                        <a class="btn btn-primary" href="@Url.Action("Edit", "TinTucs", new { id = item.MaTinTuc })">
                                            <i class="ti-pencil-alt"></i>
                                        </a> &nbsp;
                                        <a class="btn btn-primary delBtnTT" href="" data-id="@item.MaTinTuc">
                                            <i class="ti-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="phan-trang">@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
            </div>
        </div>
    </div>
</div>

@section ajaxDel{
    <script src="~/Areas/Admin/assets/js/delete.js"></script>
}

