@model BeautyBox.Models.NguoiDung

@{
    ViewBag.Title = "Xóa tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdminFormCard", null, new ViewDataDictionary { { "FormTitle", "Xác nhận xóa tài khoản" }, { "FormController", "NguoiDungs" } })
<div class="admin-alert admin-alert--error">
    Bạn có chắc chắn muốn xóa tài khoản này? Hành động này không thể hoàn tác.
</div>

<dl class="row">
    <dt class="col-sm-3">Loại tài khoản</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.UserGroup.Name)</dd>
    <dt class="col-sm-3">Tên đăng nhập</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.TenDangNhap)</dd>
    <dt class="col-sm-3">Họ tên</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.HoTen)</dd>
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
    <dt class="col-sm-3">Số điện thoại</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.SoDT)</dd>
</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary" style="background-color: var(--color-error, #C45C5C) !important; border-color: var(--color-error, #C45C5C) !important;">Xóa tài khoản</button>
}
@Html.Partial("_AdminFormCardEnd", null, new ViewDataDictionary { { "FormController", "NguoiDungs" } })
