@model BeautyBox.Models.ProductCardViewModel

<div class="product">
    <div class="product__thumb">
        <a href="@Url.Action("Index","Product",new { MaSP = Model.MaSP })" class="product__img">
            <img src="~/assets/Images/SanPham/@Model.AnhDaiDien" alt="@Model.TenSP" />
        </a>
        @if (Model.KhuyenMai > 0)
        {
            <span class="badge-sale product__badge">-@Model.KhuyenMai%</span>
        }
        <div class="product__actions">
            <a href="@Url.Action("Index","Product",new { MaSP = Model.MaSP })" class="product__action" title="Xem chi tiết">
                <i class="fas fa-eye"></i>
            </a>
        </div>
        <div class="product__add--cart">
            <a href="#" class="ajax-to-cart" data-id="@Model.MaSP">
                <i class="fas fa-shopping-basket"></i> Thêm giỏ hàng
            </a>
        </div>
    </div>
    <div class="product__info">
        <h3 class="product__title">
            <a href="@Url.Action("Index","Product",new { MaSP = Model.MaSP })">@Model.TenSP</a>
        </h3>
        <div class="product__price">
            @if (Model.KhuyenMai == 0)
            {
                <ins class="product__price--new">@string.Format("{0:c0}", Model.Gia)</ins>
            }
            else
            {
                <ins class="product__price--new">@string.Format("{0:c0}", Model.Gia - Model.Gia * Model.KhuyenMai / 100)</ins>
                <del class="product__price--old">@string.Format("{0:c0}", Model.Gia)</del>
            }
        </div>
    </div>
</div>
